<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\AstemoProjects\fechamento_contabil\venv\Scripts\python.exe|C:\AstemoProjects\fechamento_contabil\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="zero.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="zero.settings" />
    <add key="PYTHONPATH" value="C:\AstemoProjects\fechamento_contabil\zero" />
    <add key="WSGI_LOG" value="C:\AstemoProjects\fechamento_contabil\wfastcgi.log" />
  </appSettings>
</configuration>
